ion-toolbar {
  --background: #4CAF50;
  --color: white;
  text-align: center;
}

ion-content {
  --background: #C8E6C9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Centra todo el contenido verticalmente
}

ion-grid {
  width: 100%;
  max-width: 400px; // Evita que sea demasiado ancho
}

ion-row {
  display: flex;
  align-items: center; // Alinea los elementos en la misma fila
  justify-content: flex-start; // Mantiene el texto alineado a la izquierda
  margin-bottom: 15px; // Espacio entre filas
}

.aspersor,
.riego {
  font-size: 20px;
  text-align: left; // Mantiene el texto alineado a la izquierda
  flex: 1; // Ocupará el espacio disponible antes del botón
  margin-right: 15px; // Agrega espacio entre el texto y el botón
}

.datetime-btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  width: auto;
  min-width: 120px;
  text-align: center;
  flex-shrink: 0; // Evita que el botón se reduzca demasiado
}

/* Estilo para los botones de ion-datetime */
ion-datetime-button::part(native) {
  background-color: white !important; /* Asegura que el botón sea completamente blanco */
  color: black !important; /* Asegura que el texto del botón sea negro */
  border-radius: 5px;
  padding: 5px 20px;
}

.dias-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.semana {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

.semana:hover {
  background-color: #81C784;
  color: white;
}

.semana.selected {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.guardar {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  padding: 0px 90px;
  font-size: 15px;
  display: block;
  margin: 20px auto; // Centra el botón en la pantalla
}

.guardar:hover {
  background-color: #388E3C;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
  ion-grid {
    max-width: 90%; // Reduce el ancho en pantallas pequeñas
  }

  .datetime-btn {
    min-width: 100px;
    padding: 8px;
  }

  .aspersor,
  .riego {
    font-size: 16px; // Reduce el tamaño del texto
  }
}

/* Estilos para hacer el ion-datetime más pequeño */
.compact-time {
  width: auto;
  max-height: 120px;
  font-size: 14px;
  padding: 0;
  border-radius: 10px
}

/* Estilos opcionales para el texto que muestra la hora */
ion-datetime {
  --padding-start: 0;
  --padding-end: 0;
}

